<h1>Resources</h1>

<p>We provide the following links and recommendations in the hopes that prospective Science Bowl players, whether at Blair or not, can use them to learn and grow.</p>

<div class="row">
  <div class="col-md-6">
    <h2>Subjects</h2>

    <p>It takes hard work and dedication to become a skillful Science Bowl player. What follows is basic advice for studying for Science Bowl, broken down by subject. For most of the subjects, we recommend certain textbooks as starting points for your studying.</p>

    <h5>Mathematics</h5>
    <ul>
      <li>Pay attention in math class</li>
      <li>Practice arithmetic often for rapid computation</li>
      <li>Attend the math team or math circle at your school or in your community</li>
    </ul>

    <h5>Physics</h5>
    <ul>
      <li><em>Fundamentals of Physics</em>, Halliday and Resnick <strong>OR</strong></li>
      <li><em>Physics</em>, Giancoli</li>
    </ul>

    <h5>Chemistry</h5>
    <ul>
      <li><em>Chemistry</em>, Zumdahl <strong>OR</strong></li>
      <li><em>General Chemistry: Principles and Modern Applications</em>, Petrucci <strong>OR</strong></li>
      <li><em>Chemical Principles</em>, Atkins (more advanced and includes calculus)</li>
    </ul>

    <h5>Earth and Space Science</h5>
    <ul>
      <li><em>Earth Science</em>, Tarbuck</li>
      <li><em>The Universe: Stars and Galaxies</em>, Freedman, Kaufmann and Geller</li>
    </ul>

    <h5>Biology</h5>
    <ul>
      <li><em>Biology</em>, Campbell and Reece</li>
    </ul>

    <h5>Energy</h5>
    <ul>
      <li><a href="https://energy.gov" target="_blank">U.S. Department of Energy Website</a></li>
    </ul>

    <p>In addition to the above resources, Wikipedia is a helpful supplement for all subjects.</p>
  </div>
  <div class="col-md-6">
    <h2>Gameplay</h2>

    <p>Science Bowl is about more than just knowledge: it is a science in it of itself, of calculating risks and weighing decisions that could make or break a round. Thus, all Science Bowl players must familiarize themselves intimately with the <a href="https://science.energy.gov/~/media/wdts/nsb/pdf/coordinator%20resources/2017_nsb_rules.pdf" target="_blank">rules</a>.

    It is advisable to use the official National Science Bowl sample questions (<a href="https://science.energy.gov/wdts/nsb/regional-competitions/resources/hs-sample-questions/" target="_blank">high school</a>, <a href="https://science.energy.gov/wdts/nsb/regional-competitions/resources/ms-sample-questions/" target="_blank">middle school</a>) in practice as much as possible. However, teams may find that they quickly run out of questions to use in practice; therefore, strategies such as question exchanges may be necessary.
  </div>
</div>
