<div class="clearfix">
  <h3 class="float-sm-left">Question</h3>
  <button type="button" class="btn btn-success float-sm-right" *ngIf="!editing" (click)="editing = true;">Edit <i class="fas fa-edit"></i></button>
</div>
<br/>

<form [formGroup]="questionForm" (ngSubmit)="submit()">
  <div class="form-group row">
    <label class="col-sm-2" for="problem-text"><strong>Text</strong></label>
    <div class="col-sm-10" *ngIf="editing">
      <textarea class="form-control" id="problem-text"
                placeholder="What organelle functions to isolate a human cell's chromosomes from the cytoplasm?"
                formControlName="text" rows="3"></textarea>
    </div>
    <div class="col-sm-10" *ngIf="!editing">
      <div class="card">
        <div class="card-body">
          {{ questionForm.controls['text'].value }}
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2"><strong>Subject</strong></label>
    <div class="col-sm-10" *ngIf="editing">
      <ng-container *ngFor="let subject of config.SUBJECTS;">
        <input type="radio" class="subject-button" [id]="'question-subject-' + subject" formControlName="subject" [value]="subject">
        <label class="mr-2" [ngClass]="['subject-' + subject]" [for]="'question-subject-' + subject"></label>
      </ng-container>
    </div>
    <div class="col-sm-10" *ngIf="!editing">
      <label [ngClass]="['subject-' + questionForm.controls['subject'].value]"></label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2"><strong>Type</strong></label>
    <div class="col-sm-10" *ngIf="editing">
      <label class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" formControlName="kind" value="MultipleChoiceQuestion" id="multipleChoiceRadio">
        <label class="custom-control-label" for="multipleChoiceRadio">Multiple Choice</label>
      </label>
      <label class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" formControlName="kind" value="ShortAnswerQuestion" id="shortAnswerRadio">
        <label class="custom-control-label" for="shortAnswerRadio">Short Answer</label>
      </label>
    </div>
    <div class="col-sm-10" *ngIf="!editing">
      {{ config.TYPE_DISPLAY[questionForm.controls['kind'].value] }}
    </div>
  </div>

  <ng-container *ngIf="questionForm.controls['kind'].value === 'MultipleChoiceQuestion'">
    <div class="form-group row" *ngFor="let choice of config.CHOICES;">
      <label class="col-sm-2" [for]="'problem-answer-choice-' + choice"><strong>Choice {{ choice }}</strong></label>
      <div class="col-sm-10" *ngIf="editing">
        <input class="form-control" [id]="'problem-answer-choice-' + choice"
               [formControlName]="'choice' + choice">
      </div>
      <div class="col-sm-10" *ngIf="!editing">
        {{ questionForm.controls['choice' + choice].value }}
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2"><strong>Answer</strong></label>
      <div class="col-sm-10" *ngIf="editing">
        <label class="custom-control custom-radio" *ngFor="let choice of config.CHOICES;">
          <input type="radio" class="custom-control-input" formControlName="choiceAnswer" [value]="choice" id="choice{{ choice }}Radio">
          <label class="custom-control-label" for="choice{{ choice }}Radio">{{ choice }}</label>
        </label>
      </div>
      <div class="col-sm-10" *ngIf="!editing">
        {{ questionForm.controls['choiceAnswer'].value }})
        {{ questionForm.controls['choice' + questionForm.controls['choiceAnswer'].value].value }}
      </div>
    </div>
  </ng-container>

  <div class="form-group row" *ngIf="questionForm.controls['kind'].value === 'ShortAnswerQuestion'">
    <label class="col-sm-2" for="problem-answer"><strong>Answer</strong></label>
    <div class="col-sm-10" *ngIf="editing">
      <input class="form-control" id="problem-answer" formControlName="shortAnswer" placeholder="Nucleus">
    </div>
    <div class="col-sm-10" *ngIf="!editing">
      {{ questionForm.controls['shortAnswer'].value }}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2" for="questionSource"><strong>Source</strong></label>
    <div class="col-sm-10" *ngIf="editing">
      <input type="text" class="form-control" id="questionSource"
             placeholder="Campbell and Reece OR Sample Round Set 6, Round 13"
             formControlName="source">
    </div>
    <div class="col-sm-10" *ngIf="!editing">
      <p>{{ questionForm.controls['source'].value | yesno:"(none)" }}</p>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" *ngIf="editing">Save Question <i class="fas fa-save"></i></button>
</form>
