<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">Science Bowl</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/resources">Resources</a></li>
    </ul>
    <ul class="navbar-nav" *ngIf="status.user">
      <li class="nav-item text-muted">
        <a class="nav-link" routerLink="/user/profile">
          <i class="far fa-user-circle" *ngIf="status.team?.user_role == status.ROLES.student"></i>
          <i class="fas fa-user" *ngIf="status.team?.user_role == status.ROLES.member"></i>
          <i class="fas fa-user-astronaut" *ngIf="status.team?.user_role >= status.ROLES.captain"></i>
          {{ status.user.name.first }} {{ status.user.name.last }}
        </a>
      </li>

      <li class="nav-item"><a class="nav-link" (click)="logout()" href="javascript:void(0)">Logout</a></li>
    </ul>
    <ul class="navbar-nav" *ngIf="!status.user">
      <li class="nav-item"><a class="nav-link" routerLink="/user/register">Register</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/user/login">Login</a></li>
    </ul>
  </div>
</nav>

<div id="content" class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-dark p-3">
  <div class="container">
    <span class="text-white">Website designed and implemented by <a href="https://singerng.github.io">Noah Singer</a>,
    originally for the Montgomery Blair High School Science Bowl Team. Built using Express.js, MongoDB, Angular,
    and Bootstrap.</span>
  </div>
</footer>
