<div class="container">
  <h1>{{ tryout?.title }}</h1>

  <ng-container *ngIf="!started && !ended">
    <div *ngIf="tryout?.started">
      <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-triangle"></i> <strong>Warning!</strong> You appear to have already started this tryout, and so
        you will begin the tryout where you left off, not at the first question. If you don't believe this to be the case,
        please let us know.
      </div>
    </div>
    <p><strong>Make sure to read the following rules in order to achieve success on the tryouts.</strong></p>

    <p>Welcome to the online tryouts for the Montgomery Blair High School Science Bowl Team! The following questions are designed to test your knowledge of the six Science Bowl subjects: physics, mathematics, chemistry, biology, earth and space science, and energy. All questions are multiple choice, with four choices, and have strict time limits ranging from 10 to 45 seconds. <strong>If your answer choice is not submitted when time runs out for a question, it is not recorded and you may no longer answer that question.</strong> However, once an answer choice has been submitted, it is final and can no longer be changed. There are 50 questions, and overall, we estimate that the test will require less than half an hour.</p>

    <h3>Scoring</h3>

    <p>One (1) point will be awarded for all correct answers. Zero (0) points are awarded for unanswered questions (either skipped or time expired). In Science Bowl competition, reckless guessing has the potential to hurt teams by taking away scoring opportunities and possibly giving up an interrupt penalty. Therefore, in order to discourage guessing, three quarters (0.75) of a point will be subtracted for all incorrect answers. Note that it is still advantageous to guess if the possibilities are reduced to two out of four answer choices.</p>

    <h3>Integrity</h3>

    <p>The captains have worked tirelessly to produce this tryout and these questions. <strong>During the tryout, you can only consult your own knowledge of the subjects!</strong> Any violation of the integrity of this tryout will be reported to appropriate school authorities. Violations include, but are not limited to, consulting any reference source (including textbooks or notes), searching the Internet, talking to another person, or using a calculator. No students is authorized to take the tryout more than once per year. No discussion of the contents of the tryout is permitted (except with a captain) until the tryout window ends.</p>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="agreed" id="agreeCheck">
      <label class="custom-control-label" for="agreeCheck">I agree to respect the integrity of this tryout by not using any outside reference sources and by not discussing the content of this tryout with anyone else until the tryout window ends. I certify that this is the only time I am taking this tryout this year and have had no advance knowledge of the content of this tryout.</label>
    </div>
    <br/>

    <p>Time begins when you press the start button. If you have any questions before, during, or after the tryout, <a href="mailto:mbhs.sciencebowl@gmail.com">email us</a>. Good luck, have fun, and thanks for trying out!</p>

    <button *ngIf="!tryout?.started" class="btn btn-block btn-primary" [disabled]="!agreed" (click)="nextQuestion()">Start! <i class="fas fa-clock"></i></button>
    <button *ngIf="tryout?.started" class="btn btn-block btn-warning" [disabled]="!agreed" (click)="nextQuestion()">Continue <i class="fas fa-play-circle"></i></button>
  </ng-container>

  <ng-container *ngIf="started && !ended">
    <div class="clearfix">
      <h3 class="float-sm-left">Question {{ question.number }} / {{ tryout.numQuestions }} <label [ngClass]="['subject-' + question.subject]"></label></h3>
      <button type="button" class="btn btn-primary btn-lg float-sm-right" (click)="nextQuestion()" *ngIf="stopped">Next question <i class="fas fa-arrow-right"></i></button>
    </div>

    <p><em>{{ config.SUBJECT_DISPLAY[question.subject] }}:</em> {{ question.text }}</p>

    <div class="custom-controls-stacked">
      <label class="custom-control custom-radio" *ngFor="let choice of config.CHOICES;">
        <input type="radio" class="custom-control-input" [(ngModel)]="answerChoice" [value]="choice" [disabled]="!answerable" id="choice{{ choice }}Radio">
        <label class="custom-control-label" for="choice{{ choice }}Radio">{{ choice }}) {{ question.choices[choice] }}</label>
      </label>
    </div>

    <br/><br/>
    <p><ngb-progressbar [type]="timeFraction >= 1 ? 'danger' : 'warning'" [striped]="true"
                        [value]="timeFraction * 100"></ngb-progressbar></p>

    <br/><br/>
    <div class="clearfix">
      <button type="button" class="btn btn-success btn-lg float-sm-left" (click)="submit()" [disabled]="!answerable || !answerChoice">Submit <i class="fas fa-check"></i></button>
      <button type="button" class="btn btn-danger btn-lg float-sm-right" (click)="skip()" [disabled]="stopped">Skip <i class="fas fa-times"></i></button>
    </div>
  </ng-container>

  <ng-container *ngIf="ended">
    Congratulations! You've finished the Blair Science Bowl online tryout. Your scores will be available online immediately after the tryout window closes. Shortly after, we will inform those who are invited to the buzzer tryouts. Best of luck!
  </ng-container>
</div>
